INSTAGRAM_USERNAME=ton_username
INSTAGRAM_PASSWORD=ton_mot_de_passe

# Instagram Graph API (business_discovery)
USER_LONG_TOKEN=ton_user_long_token
APP_ID=ton_app_id
IG_USER_ID=ton_ig_user_id
ID_PAGE=ton_id_page

# Facebook Graph API (Page posts)
FB_PAGE_ID=ton_fb_page_id
FB_ACCESS_TOKEN=ton_fb_access_token
